<row id="productList" >
  {{message}}
</row>
<row>
  <column sm="2"></column>
  <column sm="5"></column>
  <column sm="3"></column>
</row>
<row *ngFor="let product of productService.getProducts()" class="lineProduct">
  <column sm="2">
    <img *ngIf="product.urlPhoto!=null" [src]="product.urlPhoto" class="sizeImg">
  </column>
  <column sm="6">
    <div (click)="selectProduct(product)"><label>{{product.name}}</label></div>
  </column>
  <column sm="3">
    <div>{{'price'|translate}}:</div>
    <label>{{product.priceView}}</label>
  </column>
  <column sm="1">
    <row>
      <label id="inOrder" class="orderMove" (click)="checkout(product)">{{'inOrder'|translate}}</label>
    </row>
    <row>
      <label id="inDescription" class="orderMove" (click)="viewDescription(product)">{{'description'|translate}}</label>
    </row>
  </column>
</row>
<row class="pagination">
  <column sm="5" *ngFor="let page of productService.loadCountProduct(); let i = index">
    <button (click)="selectPage(i)" class="btn btn-primary btn-sm selectCategory">{{i+1}}</button>
  </column>
</row>
