.bk {
  background-color: lightblue;
}

.bk2 {
  background-color: blue;
}

.bk3 {
  background-color: red;
}

.bk4 {
  background-color: green;
}

.topComponent {
  padding: 10px;
}

.centerComponent {
  display: flex;
}

.body {
  width: 100%;
}

.footer {
  position: absolute;
  width: 100%;
  height: auto;

}

