.manager-create-product{
  margin-top: 100px;
}

.selectButton {
  display: inline-block;
  margin: 15px;
  border: none;
  color: #fff;
  text-decoration: none;
  background-color: #2F5392;
  padding: 6px 5px;
  width: 98%;
  font-size: 12.5px;
  font-family: SansSerif, serif;
  font-weight: 200;
  text-transform: uppercase;
  letter-spacing: 3px;
  border-radius: 2px;
  text-align: center;
  position: relative;
  outline: none;
  transition: background-color .1s ease, font-size 0.5s ease;
}
.selectButton::after {
  transition: background-color .2s ease;
  position: absolute;
  content: '';
  height: 4px;
  bottom: 0;
  width: 100%;
  background-color: rgba(1, 0, 255, 1);
  opacity: .18;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  left: 0;
}
.selectButton:focus, .button:hover {
  text-decoration: none;
  color: #fff;
}
.selectButton:hover {
  white-space: normal;
  background-color: rgba(47, 83, 146, .7);
  font-size: 15px;
}
.selectButton:hover::after {
  opacity: .22;
}
.selectButton:active {
  background-color: rgba(1, 0, 255, 1);
}
.selectButton:active::after {
  opacity: .32;
}

.openFile{
  margin-top: 3px;
}
.list-product{
  margin-bottom: 22px
}

.data-product{
  font-size: 18px;
  font-family: SansSerif,serif;
  text-transform: uppercase;
  text-align: center;
}



.create-product-button{
  margin-top: 36px;
  margin-left: 90px;
}


.btn-file input[type=file] {
  margin-left: 15px;
  cursor: inherit;
  display: block;
  font-size: 12px;
  filter: alpha(opacity=0);
  min-height: 100%;
  min-width: 100%;
  opacity: 0;
  position: absolute;
  right: 0;
  text-align: right;
  top: 0;
}

