{{message}}
<row>
  <label>Добавлить продукт</label>
</row>
<row>
  <select [(ngModel)]="product"  class="form-control">
    <option *ngFor="let product of products" [ngValue]="product" class="form-control">{{product.name}}</option>
  </select>
</row>
<row>
  <column>
    <input type="file"(change)="selectImage($event)" #fileInput />
  </column>
  <column>
<input type="text" [(ngModel)]="product.urlPhoto">
  </column>
</row>
<row>
  <column sm="5"><label>Название продукта</label></column>
  <column sm="7">
    <input type="text" [(ngModel)]="product.name" class="input-group"/>
  </column>
</row>
<row>
  <button class="btn-group buttonLog" (click)="save()">
    {{'save'|translate}}
  </button>
</row>

