.category-nav{
  margin-top: 35px;
  margin-bottom: 6%;
}

.selectCategory {
  display: inline-block;
  margin: 4px;
  border: none;
  color: #fff;
  text-decoration: none;
  background-color: #2F5392;
  padding: 6px 5px;
  height: 43.5px;
  font-size: 10.5px;
  font-family: SansSerif, serif;
  font-weight: 100;
  text-transform: uppercase;
  white-space: unset;
  letter-spacing: 3px;
  border-radius: 2px;
  text-align: center;
  position: relative;
  outline: none;
  transition: background-color .1s ease, font-size 0.5s ease;
}
.selectCategory::after {
  transition: background-color .2s ease;
  position: absolute;
  content: '';
  height: 4px;
  bottom: 0;
  width: 100%;
  background-color: rgba(1, 0, 255, 1);
  opacity: .18;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  left: 0;
}
.selectCategory:focus, .button:hover {
  text-decoration: none;
  color: #fff;
}
.selectCategory:hover {
  white-space: normal;
  background-color: rgba(47, 83, 146, .7);
  font-size: 15px;
}
.selectCategory:hover::after {
  opacity: .22;
}
.selectCategory:active {
  background-color: rgba(1, 0, 255, 1);;
}
.selectCategory:active::after {
  opacity: .32;
}
.childRout{
  padding: 35px 20px;
  margin-left: 3%;
  margin-right: -17%;
}


@media only screen and (max-width: 1200px) {

  .selectCategory{
    font-size: 9.5px;
  }
}

@media only screen and (max-width: 992px){

}
@media only screen and (max-width: 768px){


}

@media only screen and (max-width: 480px){



}

