<row>
  <column sm="1"></column>
  <column sm="11">
    <row>
      <column><label>Создать вользоателя:</label></column>
    </row>
    <row>
      <select [(ngModel)]="user" (ngModelChange)="loadPassword(user)" class="form-control">
        <option *ngFor="let user of users" [ngValue]="user" class="form-control">{{user.name}}</option>
      </select>
      <div *ngIf="user.stock!=null">{{user.stock.name}}</div>
      <div *ngIf="user.market!=null">{{user.market.name}}</div>
    </row>
    <row>
      <column sm="3">имя пользователя:</column>
      <column sm="3"><input type="text" [(ngModel)]="user.name" placeholder="имя пользователя"></column>
    </row>
    <row>
      <column sm="3">пароль:</column>
      <column sm="3"><input type="text" [(ngModel)]="user.password" placeholder="пароль для входа"></column>
    </row>
    <row>
      <column>
        <label sm="4">Выберите магазин</label>
        <select [(ngModel)]="user.market">
          <option *ngFor="let market of markets" [ngValue]="market">{{market.name}}</option>
        </select>
      </column>
      <column sm="4">
        <label>Выберите склад</label>
        <select [(ngModel)]="user.stock">
          <option *ngFor="let stock of stocks" [ngValue]="stock">{{stock.name}}</option>
        </select>
      </column>
      <column sm="4">
        <row *ngFor="let role of roles; let index = index">
          <input type="checkbox" [(ngModel)]="checkedRole[index]"><label>{{role.name}}</label>
        </row>
      </column>
    </row>
    <row>
      <button (click)="createUser()">отправить</button>
    </row>
    <row>
      <button (click)="clearFields()">{{'chancel'|translate}}</button>
    </row>
    {{message}}
  </column>
</row>

