<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<appender name="fileError" class="ch.qos.logback.core.FileAppender">
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>error</level>
		</filter>
		<file>../logs/logByIntexsoft/Errorlog.log</file>
		<layout class="ch.qos.logback.classic.PatternLayout">
			<Pattern>%date %level [%thread] %logger{10} [%file:%line] %msg%n
			</Pattern>
		</layout>
	</appender>

	<appender name="fileInfo" class="ch.qos.logback.core.FileAppender">
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>info</level>
		</filter>
		<file>../logs/logByIntexsoft/Infolog.log</file>
		<layout class="ch.qos.logback.classic.PatternLayout">
			<Pattern>%date %level [%thread] %logger{10} [%file:%line] %msg%n
			</Pattern>
		</layout>
	</appender>

	<appender name="fileDebug" class="ch.qos.logback.core.FileAppender">
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>DEBUG</level>
		</filter>
		<file>../logs/logByIntexsoft/Debuglog.log</file>
		<layout class="ch.qos.logback.classic.PatternLayout">
			<Pattern>%date %level [%thread] %logger{10} [%file:%line] %msg%n
			</Pattern>
		</layout>
	</appender>
	<root level="info">
		<appender-ref ref="fileInfo" />
	</root>
	<root level="error">
		<appender-ref ref="fileError" />
	</root>
	<root level="debug">
		<appender-ref ref="fileDebug" />
	</root>
</configuration>