<row class="navbar-top">
  <column md="12">
    <row>
      <column md="2" sm="3" class="logo-navigate"><p>City Market</p></column>
      <column md="2" class="navigate-admin">
        <label (click)="navigate('category')" class="navigate-label">{{'category'|translate}}</label>
      </column>

      <column md="2" sm="1"></column>
      <column md="2" sm="3" class="shop-navigate"><p>{{'shop'|translate}}</p></column>
      <column md="2" sm="3">
        <select id="selectMarket" [(ngModel)]="market" (ngModelChange)="selectMarket()">
          <option id="optionMarket" *ngFor="let mark of marketService.getMarkets()" [ngValue]="mark"
                  class="form-control">
            {{mark.name}}
          </option>
        </select>
      </column>
      <column sm="1" class="lang-navigate">
        <row>
          <column md="12" class="navigate-admin">
            <label (click)="selectLanguage('ru')"><p>RU</p></label>
          </column>
        </row>
        <row>
          <column md="12" class="navigate-admin">
            <label (click)="selectLanguage('en')"><p>EN</p></label>
          </column>
        </row>
        <row>
          <column md="12" class="navigate-admin">
            <label (click)="setVisibleFormLogin()"><p>{{'logIn'|translate}}</p></label>
          </column>
        </row>
      </column>
    </row>
    <row *ngIf="access.adminBar">
      <column md="4" class="navigate-admin"><label (click)="navigate('createMarket')">
        {{'createMarket'|translate}}</label></column>
      <column md="4" class="navigate-admin"><label (click)="navigate('addUser')"> {{'createUser'|translate}}</label>
      </column>
      <column md="4" class="navigate-admin"><label (click)="navigate('createStock')"> {{'crateStock'|translate}}</label>
      </column>
    </row>
    <row *ngIf="access.managerShopBar">
      <column md="6" class="navigate-manager"><label (click)="navigate('signStock')"> {{'signStock'|translate}}</label>
      </column>
      <column md="6" class="navigate-manager"><label (click)="navigate('orderListMarket')">
        {{'listOrder'|translate}}</label></column>
    </row>
    <row *ngIf="access.managerStockBar">
      <column md="12" class="navigate-add-category"><label (click)="navigate('addCategory')">
        {{'addCategory'|translate}}</label></column>
    </row>
  </column>
</row>

