<nav class="navbar navbar-inverse bg-inverse">
  <div class="navbar-header">
    <a class="navbar-brand" href="#">City Market</a>
  </div>
  <div class="collapse navbar-collapse" ng-class="!navCollapsed && 'in'">
    <ul class="nav navbar-nav">
      <li *ngIf="access.viewCategorySelect"><a (click)="navigate('category')">{{'category'|translate}}</a></li>
    </ul>
    <div class="navbar-form navbar-right" role="search">
      <a class="navbar-brand">Магазин</a>
      <select id="selectMarket" [(ngModel)]="market" (ngModelChange)="selectMarket()" class="form-control">
        <option id="optionMarket" *ngFor="let mark of markets" [ngValue]="mark" class="form-control">{{mark.name}}</option>
      </select>
      <select *ngIf="false" name="select" #t (change)=" selectLanguage(t.value)" class="form-control">
        <option value="ru">Русский</option>
        <option value="en">English</option>
      </select>
    </div>
  </div>
  <div *ngIf="access.adminBar">
    <div class="collapse navbar-collapse" ng-class="!navCollapsed && 'in'">
      <ul class="nav navbar-nav">
        <li><a (click)="navigate('createMarket')"> {{'createMarket'|translate}}</a></li>
        <li><a (click)="navigate('addUser')"> {{'createUser'|translate}}</a></li>
        <li><a (click)="navigate('createStock')"> {{'crateStock'|translate}}</a></li>
      </ul>
    </div>
  </div>
  <div *ngIf="access.managerShopBar">
    <div class="collapse navbar-collapse" ng-class="!navCollapsed && 'in'">
      <ul class="nav navbar-nav">
        <li><a (click)="navigate('signStock')">  {{'signStock'|translate}}</a></li>
        <li><a (click)="navigate('orderListMarket')">  {{'listOrder'|translate}}</a></li>
      </ul>
    </div>
  </div>
  <div *ngIf="access.managerStockBar">
    <div class="collapse navbar-collapse" ng-class="!navCollapsed && 'in'">
      <ul class="nav navbar-nav">
        <li><a (click)="navigate('addCategory')"> {{'addCategory'|translate}}</a></li>
      </ul>
    </div>
  </div>
</nav>


