#selectMarket {
  padding: 5px;
  width: 160px;
  font-size: 12px;
}

#optionMarket{
  font-size: 19px;
  font-family: SansSerif, serif;
  font-weight: 400;
}

.buttonTop{
  padding: 5px;
  font-size: 12px;
  width: 120px;
}

.selectMarketCont {
  padding-left: 250px;
}

<<<<<<< HEAD
.navbar-top{
  border: 1px solid blue;
  background-color: #1b6d85;
  border-radius: 6px;
  color: white;
}
=======
.navbar-form{
  position: absolute;
  left: 335px;
  display: -webkit-box;
  padding-left: 15px;
  padding-right: 0;
}
p.navbar-shop {
  height: 30px;
  padding: 15px 20px;
  font-size: 18px;
  line-height: 8px;
  font-family: SansSerif, serif;
  font-weight: 600;
  color: #9d9d9d;
}

.navbar-inverse {
  background-color: #2F5392;
  border-color: #2f3995;
}

.navbar-inverse .navbar-brand{
  color: #c94143;
  font-family: SansSerif, serif;
  font-weight: 600;
  font-size: 25px;
}

div.collapse.navbar-collapse::after{
  position: absolute;
  content: '';
  height: 4px;
  bottom: 0;
  width: 100%;
  background-color: rgba(1, 0, 255, 1);
  opacity: .18;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  left: 0;
}


>>>>>>> 0db686b28f2deba21a372bb893877fd901f1ae2d
