.selectMarket {
  padding: 5px;
  font-size: 12px;
}

.buttonTop{
  padding: 5px;
  font-sise: 12px;
  width: 120px;
}

.selectMarketCont {
  padding-left: 250px;
}

.navbar-top{
  border: 1px solid blue;
  background-color: #1b6d85;
  border-radius: 6px;
  color: white;
}
