
  <row id="my-footer">
    <column class="main-footer" lg="12" sm="12" xs="12">
      <row>
        <column lg="6" sm="6" xs="12">
          <column class="footer-column">
           <p><span class="logo-footer">CityMarket</span> <br>магазин принадлежностей для дома</p>
        </column>
        </column>
        <column lg="6" sm="6" xs="12">
          <column class="footer-column">
          <p class="footer-addr"> Гродно, ул. Богуцкого, дом 52</p>
          <p class="footer-addr">Прием заказов: ежедневно. <br>9:00-19:00</p>
          <p class="footer-addr"><span class="footer-phone">+ 375 (29) 583-47-19</span></p>
        </column>
        </column>
      </row>
    </column>
  </row>

