<row>
  <div *ngIf="productService.loadCountProduct().length>1">
    <column md="3"></column>
    <column md="1" *ngIf="activPage>0 && pages.length>3">
      <button (click)="selectPage(0)"> <<</button>
    </column>
    <column md="1" *ngIf="pages.length-1==activPage && pages.length>2">
      <button (click)="selectPage(activPage-2)">{{activPage-1}}</button>
    </column>
    <column md="1" *ngIf="activPage>0">
      <button (click)="selectPage(activPage-1)">{{activPage}}</button>
    </column>
    <column md="1">
      <button (click)="selectPage(activPage)" [disabled]="true">{{activPage+1}}</button>
    </column>
    <column md="1" *ngIf="pages.length>1 && activPage!=pages.length-1">
      <button (click)="selectPage(activPage+1)">{{activPage+2}}</button>
    </column>
    <column md="1" *ngIf="pages.length>2 && activPage == 0">
      <button (click)="selectPage(activPage+2)">{{activPage+3}}</button>
    </column>
    <column md="1" *ngIf="activPage<pages.length-1 && pages.length>3">
      <button (click)="selectPage(pages.length-1)"> >></button>
    </column>
  </div>
  <column md="2">
    <select id="selectMarket" [(ngModel)]="visibleProductsOnPage" (ngModelChange)="changeCountProductOnPage()">
      <option id="optionMarket" *ngFor="let visibleProducts of countProductOnPage" [ngValue]="visibleProducts"
              class="form-control">
        {{visibleProducts}}
      </option>
    </select>
  </column>
</row>
