<row>
  <column sm="2"></column>
  <column sm="10">
    <row>
      {{message}}
    </row>
    <row>
      <column sm="3"><label>склад</label></column>
      <column sm="5">
        <select [(ngModel)]="stock" class="form-control">
          <option *ngFor="let stock of stocks" [ngValue]="stock" class="form-control">{{stock.name}}</option>
        </select>
      </column>
    </row>
    <row>
      <column sm="3"><label>название склада</label></column>
      <column sm="5"><input type="text" [(ngModel)]="stock.name" placeholder="Название склада" class="form-control">
      </column>
    </row>
    <row>
      <column sm="3"><label>адрес</label></column>
      <column sm="5"><input type="text" [(ngModel)]="stock.address" placeholder="Адрес склада" class="form-control">
      </column>
    </row>
    <row>
      <column sm="3"><label>о сладе</label></column>
      <column sm="5"><input type="text" [(ngModel)]="stock.about" class="form-control"></column>
    </row>
    <row>
      <column sm="2">
        <button class="btn btn-primary btn-sm  selectButton" (click)="createStock()">Создать</button>
      </column>
      <column sm="2">
        <button class="btn btn-primary btn-sm  selectButton" (click)="clearStock()">Очистить</button>
      </column>
    </row>
  </column>
</row>
