<row>
  <column sm="2"></column>
  <column sm="10">
    <row>
      {{message}}
    </row>
    <row>
      <column sm="2">Склад </column>
      <column sm="2">
        <select [(ngModel)]="stock" class="form-control">
          <option *ngFor="let stock of stocks" [ngValue]="stock" class="form-control">{{stock.name}}</option>
        </select>
      </column>
    </row>
    <row>
      <column sm="2">название склада</column>
      <column sm="3"><input type="text" [(ngModel)]="stock.name" placeholder="Название склада"></column>
    </row>
    <row>
      <column sm="2">Адрес</column>
      <column sm="9"><input type="text" [(ngModel)]="stock.address" placeholder="Адрес склада"></column>
    </row>
    <row>
      <column sm="2">О сладе</column>
      <column sm="3"><input type="text" [(ngModel)]="stock.about"></column>
    </row>
    <row>
      <column sm="2" >
        <button  class="btn btn-primary btn-sm  selectButton" (click)="createStock()">Создать</button>
      </column>
      <column sm="2">
        <button  class="btn btn-primary btn-sm  selectButton" (click)="clearStock()">Очистить</button>
      </column>
    </row>
  </column>
</row>
