<row>
  <column sm="2"></column>
  <column sm="10">
    <row *ngIf="isDisableSaveButton">
      <div class="spinner"></div>
    </row>
    <row>
      {{message|translate}}
    </row>
    <row>
      <column sm="3"><label>{{'stock'|translate}}</label></column>
      <column sm="5">
        <select [(ngModel)]="stock" class="form-control">
          <option *ngFor="let stock of stocks" [ngValue]="stock" class="form-control">{{stock.name}}</option>
        </select>
      </column>
    </row>
    <row>
      <column sm="3"><label>{{'nameStock'|translate}}</label></column>
      <column sm="5"><input type="text" [(ngModel)]="stock.name" class="form-control">
      </column>
    </row>
    <row>
      <column sm="3"><label>{{'address'|translate}}</label></column>
      <column sm="5"><input type="text" [(ngModel)]="stock.address" class="form-control">
      </column>
    </row>
    <row>
      <column sm="3"><label>{{'aboutStock'|translate}}</label></column>
      <column sm="5"><input type="text" [(ngModel)]="stock.about" class="form-control"></column>
    </row>
    <row>
      <column sm="2">
        <button class="btn btn-primary btn-sm  selectButton" [disabled]="isDisableSaveButton" (click)="createStock()">
          {{'save'|translate}}
        </button>
      </column>
      <column sm="2">
        <button class="btn btn-primary btn-sm  selectButton" (click)="clearFormInputs()">{{'clear'|translate}}</button>
      </column>
    </row>
  </column>
</row>
