<row>
  <column class="borderStyle" sm="4"></column>
  <column class="borderStyle" sm="8">
    <label>Заявка на Приобретение товара</label>
  </column>
</row>
<row>
  <column class="borderStyle" sm="2"></column>
  <column class="borderStyle" sm="10">
    <row>
      <column sm="12">
        <label>товар в заявке:</label>
      </column>
    </row>
    <row>
      <column sm="4">
        {{product.name}}
      </column>
      <column sm="4">
        {{product.priceView}}
      </column>
    </row>
    <row *ngFor="let price of prices">
      <column sm="2"><label>ценa:</label></column>
      <column sm="2"><label>{{price.price}}</label></column>
    </row>
    <row>
      <column sm="4">
        <label>Введите ваше имя:</label>
      </column>
      <column sm="4">
        <input type="text" [(ngModel)]="order.nameUser" placeholder="Введите Ваше имя">
      </column>
    </row>
    <row>
      <column sm="4">
        <label>Контактный номер телефона:</label>
      </column>
      <column sm="4">
        <input type="text" [(ngModel)]="order.contacts" placeholder="Введите Ваш контактный телефон!">
      </column>
    </row>
    <row>
      <column sm="4">
        <label>Адрес доставки товара:</label>
      </column>
      <column sm="4">
        <input type="text" [(ngModel)]="order.address" placeholder="Адрес доставки товара">
      </column>
    </row>
    <row>
      <column sm="4">
        <button (click)="sendOrder()">Отрпавить</button>
      </column>
      <column sm="4">
        <button (click)="chancelOrder()">Отмена</button>
      </column>
    </row>
  </column>
</row>
{{message}}

