<row>
  <column sm="4"></column>
  <column sm="8">
    <label class="order-head" id="orderTitle">Заявка на приобретение товара</label>
  </column>
</row>
<row>
  <column sm="2"></column>
  <column class="order-body" sm="10">
    <row>
      <column md="3">
        <row>
          <column md="12">
            <p><label>Товар в заявке:</label></p>
          </column>
        </row>
        <row>
          <column class="orderStyle" sm="12">
            <label> {{product.name}}</label>
          </column>
        </row>
      </column>
      <column>
        <img *ngIf="product.urlPhoto!=null" [src]="product.urlPhoto" class="sizeImg">
      </column>
    </row>

    <row *ngFor="let price of prices">
      <column sm="3"><label>Стоимость товара:</label></column>
      <column sm="2"><label>{{price.price}} руб</label></column>
    </row>
    <row>
      <column sm="3">
        <label>Введите Ваше имя:</label>
      </column>
      <column sm="5">
        <input id="nameOrderUser" type="text" [(ngModel)]="order.nameUser" placeholder="Ваше имя..."
               class="form-control">
      </column>
    </row>
    <row>
      <column sm="3">
        <label>Контактный номер телефона:</label>
      </column>
      <column sm="5">
        <input id="userContacts" type="text" [(ngModel)]="order.contacts" placeholder="Ваш контактный телефон..."
               class="form-control">
      </column>
    </row>
    <row>
      <column sm="3">
        <label>Адрес доставки товара:</label>
      </column>
      <column sm="5">
        <input id="userAddress" type="text" [(ngModel)]="order.address" placeholder="Адрес доставки..."
               class="form-control">
      </column>
    </row>
    <row class="row-button">
      <column sm="2">
        <button class="btn btn-primary btn-sm  selectCategory" (click)="sendOrder()">{{'send'|translate}}</button>
      </column>
      <column sm="2">
        <button class="btn btn-primary btn-sm  selectCategory" id="closeOrderUser" (click)="chancelOrder()">{{'chancel'|translate}}
        </button>
      </column>
    </row>
  </column>
</row>
{{message}}

