<row>
  <column sm="4"></column>
  <column sm="8">
    <label class="borderStyle" id="orderTitle">заявка на приобретение товара</label>
  </column>
</row>
<row>
  <column sm="2"></column>
  <column sm="10">
    <row>
      <column sm="12">
        <label>товар в заявке:</label>
      </column>
    </row>
    <row>
      <column class="borderStyle" sm="4">
        <label> {{product.name}}</label>
      </column>
      <column class="borderStyle" sm="4">
        <img *ngIf="product.urlPhoto!=null" [src]="product.urlPhoto" class="sizeImg">
      </column>
    </row>
    <row *ngFor="let price of prices">
      <column  sm="3"><label>ценa товара:</label></column>
      <column  sm="2"><label>{{price.price}} руб</label></column>
    </row>
    <row>
      <column sm="3">
        <label>введите Ваше имя:</label>
      </column>
      <column sm="5">
        <input id="nameOrderUser" type="text" [(ngModel)]="order.nameUser" placeholder="введите Ваше имя" class="form-control">
      </column>
    </row>
    <row>
      <column sm="3">
        <label>контактный номер телефона:</label>
      </column>
      <column sm="5">
        <input id="userContacts" type="text" [(ngModel)]="order.contacts" placeholder="введите Ваш контактный телефон!" class="form-control">
      </column>
    </row>
    <row>
      <column sm="3">
        <label>адрес доставки товара:</label>
      </column>
      <column sm="5">
        <input id="userAddress" type="text" [(ngModel)]="order.address" placeholder="адрес доставки товара" class="form-control">
      </column>
    </row>
    <row>
      <column sm="2">
        <button class="btn btn-primary btn-sm  selectCategory" (click)="sendOrder()">отрпавить</button>
      </column>
      <column sm="2">
        <button class="btn btn-primary btn-sm  selectCategory" id="closeOrderUser" (click)="chancelOrder()">отмена
        </button>
      </column>
    </row>
  </column>
</row>
{{message}}

