<row>
  <column sm="2">
  </column>
  <column sm="8">
    <row>
      <column sm="3"><label>{{'nameUser'|translate}}</label></column>
      <column sm="3"><label>{{'address'|translate}}</label></column>
      <column sm="3"><label>{{'contacts'|translate}}</label></column>
      <column sm="3"><label>{{'status'|translate}}</label></column>
    </row>
    <div *ngFor="let order of orders">
        <row>
          <column sm="3">
            <label>{{order.nameUser}}</label>
          </column>
          <column sm="3">
            <label>{{order.address}}</label>
          </column>
          <column sm="3">
            <label>{{order.contacts}}</label>
          </column>
          <column sm="3" *ngIf="order.status!='Ожидание'">
            <label>{{'processed'|translate}}</label>
          </column>
          <column sm="3" *ngIf="order.status=='Ожидание'">
            <select [(ngModel)]="order.status" (ngModelChange)="selectStatus(order)">
              <option *ngFor="let status of statusList" [ngValue]="status">{{status}}</option>
            </select>
          </column>
        </row>
      <row class="bottomBorder" *ngFor="let product of order.product">
        <column sm="5">{{'nameProduct'|translate}}</column>
        <column sm="7"><label>{{product.name}}</label></column>
      </row>
    </div>
    <row>
      <column><label>{{'nameProduct'|translate}}</label></column>
      <column><label>{{'price'|translate}}</label></column>
    </row>
  </column>
</row>
