<row class="manager-handling-order">
  <column sm="2">
  </column>
  <column sm="10"  class="handling-order">
    <row class="list-order">
      <column sm="3"><label>{{'nameUser'|translate}}</label></column>
      <column sm="3"><label>{{'address'|translate}}</label></column>
      <column sm="3"><label>{{'contact'|translate}}</label></column>
      <column sm="3"><label>{{'status'|translate}}</label></column>
    </row>
    <div class="list-order-single" *ngFor="let order of orders">
        <row>
          <column sm="3">
            <label>{{order.nameUser}}</label>
          </column>
          <column sm="3">
            <label>{{order.address}}</label>
          </column>
          <column sm="3">
            <label>{{order.contacts}}</label>
          </column>
          <column sm="3" *ngIf="order.status!='Ожидание'">
            <label>{{'processed'|translate}}</label>
          </column>
          <column sm="3" class="order-ok" *ngIf="order.status=='Ожидание'">
            <select [(ngModel)]="order.status" (ngModelChange)="selectStatus(order)" class="form-control">
              <option *ngFor="let status of statusList" [ngValue]="status">{{status}}</option>
            </select>
          </column>
        </row>
      <row class="product-name" *ngFor="let product of order.product">
        <column sm="5">{{'nameProduct'|translate}}</column>
        <column sm="7"><label>{{product.name}}</label></column>
      </row>
    </div>
  </column>
</row>
