<row>
  <column sm="3"><label>{{'nameProduct'|translate}}</label></column>
  <column sm="5">{{product.name}}</column>
</row>
<row>
  <column sm="3">{{'price'|translate}}</column>
  <column sm="5">
    <row *ngFor="let priceProd of product.price">{{priceProd.price}}
    </row>
  </column>
</row>
<row class="lineRow">
  <column sm="3">{{'countProductInStock'|translate}}</column>
  <column sm="5">{{price.inStock}}</column>
</row>
<row class="lineRow">
  <column sm="3">{{'priceProduct'|translate}}</column>
  <column sm="5">{{price.price}}</column>
</row>
<row class="lineRow">
  <column sm="3">{{'countProductReserve'|translate}}</column>
  <column sm="5">{{price.inReserv}}</column>
</row>
<row class="lineRow">
  <column sm="3">{{'newPrice'|translate}}</column>
  <column sm="5"><input type="text" [(ngModel)]="newPrice" class="form-control"/></column>
</row>
<row class="lineRow">
  <column sm="3">{{'addProduct'|translate}}</column>
  <column sm="5"><input type="text" [(ngModel)]="addProductInStock" class="form-control"/>
  </column>
</row>

<row>
  <column sm="2">
    <button class="btn btn-primary btn-sm  selectButton" (click)="savePrice()">
      {{'save'|translate}}
    </button>
  </column>
  <column sm="2">
    <button class="btn btn-primary btn-sm  selectButton" (click)="closePrice()">
      {{'close'|translate}}
    </button>
  </column>
</row>
{{newPrice}}
