<row>
  <column sm="7"><label>Название продукта</label></column>
  <column sm="5">{{this.productService.getSelectProduct().name}}</column>
</row>
<row>
  <column sm="7"> цена</column>
  <column sm="5">
    <row>{{this.productService.getSelectProduct().priceView}}
    </row>
  </column>
</row>
{{price.product.name}}
<row class="lineRow">
  <column sm="7"> количество товара на складе</column>
  <column sm="5"> {{price.inStock}}</column>
</row>
<row class="lineRow">
  <column sm="7"> цена товара</column>
  <column sm="5">{{price.price}}</column>
</row>
<row class="lineRow">
  <column sm="7"> количество товара в резерве</column>
  <column sm="5">{{price.inReserv}}</column>
</row>
<row class="lineRow">
  <column sm="7"> новая цена</column>
  <column sm="5"><input type="text" [(ngModel)]="newPrice" class="input-group" placeholder="новая цена"/></column>
</row>
<row class="lineRow">
  <column sm="7"> Добавить количество</column>
  <column sm="5"><input type="text" [(ngModel)]="addProduct" class="input-group" placeholder="добавить товара"/>
  </column>
</row>

<row class="lineRow">
  <button class="btn-group buttonLog" (click)="savePrice()">
    {{'save'|translate}}
  </button>
  <button class="btn-group buttonLog" (click)="closePrice()">
    {{'close'|translate}}
  </button>
</row>
