<row>
  <column sm="2"></column>
  <column sm="10">
    <row *ngIf="isDisableSaveButton">
      <column md="5">
        <div class="spinner"></div>
      </column>
    </row>
    <row>
      {{message|translate}}
    </row>
    <row>
      <column sm="3"><label>{{'listMarket'|translate}}</label></column>
      <column sm="5">
        <select [(ngModel)]="market" class="form-control">
          <option *ngFor="let mark of markets" [ngValue]="mark" class="form-control">{{mark.name}}</option>
        </select>
      </column>
    </row>
    <row>
      <column sm="3"><label>{{'nameMarket'|translate}}</label></column>
      <column sm="5"><input type="text" [(ngModel)]="market.name" class="form-control"></column>
    </row>
    <row>
      <column sm="3"><label>{{'address'|translate}}</label></column>
      <column sm="5"><input type="text" [(ngModel)]="market.address" class="form-control"></column>
    </row>
    <row>
      <column sm="3"><label>{{'aboutMarket'|translate}}</label></column>
      <column sm="5"><input type="text" [(ngModel)]="market.about" class="form-control"></column>
    </row>
    <row>
      <column sm="2">
        <button class="btn btn-primary btn-sm  selectButton" [disabled]="isDisableSaveButton" (click)="createMarket()">
          {{'create'|translate}}
        </button>
      </column>
      <column sm="2">
        <button class="btn btn-primary btn-sm  selectButton" (click)="clearFormInput()">{{'clear'|translate}}</button>
      </column>
    </row>
  </column>
</row>
