<row>
  <column sm="2"></column>
  <column sm="10">
    <row>
      {{message}}
    </row>
    <row>
      <column sm="3">название магазина</column>
      <column sm="3" ><input type="text" [(ngModel)]="market.name" placeholder="название магазина"></column>
    </row>
    <row>
      <column sm="3">Адрес</column>
      <column sm="9"><input type="text" [(ngModel)]="market.addres" placeholder="адресс магазин"></column>
    </row>
    <row>
      <column sm="3">О сладе</column>
      <column><input type="text" [(ngModel)]="market.about"></column>
    </row>
    <row>
      <button (click)="createMarket()">создать</button>
    </row>
  </column>
</row>
